<div class="row">
    <div class="col-md-6 img">
      <img src="../assets/image.jpg"  alt="" class="img-rounded" width="650" height="605">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>Gustavo Giese</h5>
        <small><cite title="Source Title">Jaraguá do sul, Santa Catarina  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        gustavo_giese@estudante.sc.senai.br <br>
        www.gustavogiese.com.br <br>
        5 Março 1997
      </p>
    </div>
  </div>